* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f3f7;
}

section {
  height: 500px;
  background-color: #ffffff;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 5px solid #48aaf3;
}

input {
  width: 100%;
  height: 45px;
  font-size: 22px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  height: 45px;
  border: none;
  background-color: #f0f3f7;
}

.result {
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
}

.amount {
  margin: 30px 0;
}

.select-currencies {
  display: flex;
}

.select-currencies div {
  display: flex;
  flex-direction: column;
}

.select-currencies .swap {
  margin: 0 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.select-currencies .swap img {
  height: 45px;
  transition: all 0.2s;
}

.select-currencies .swap:hover img {
  transform: scale(0.8);
}
