@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 50%;
}

section {
  display: flex;
}

section:first-child {
  margin-bottom: 50px;
}

svg {
  position: absolute;
  bottom: 0;
  opacity: 0.1;
}

input {
  font-weight: bold;
}

.amount,
.result {
  width: 50%;
  font-size: 32px;
  font-weight: 300;
}

select {
  width: 45%;
  height: 40px;
}

.amount {
  border: none;
  border-bottom: 1px solid #000;
}

.result {
  text-align: right;
}

.from,
.to {
  border: none;
  border-bottom: 1px solid #000;
}

.swap {
  width: 10%;
  background-color: transparent;
  border: none;
}

.swap img {
  width: 20px;
}
