@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #979797;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
}

.swap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}

select {
  height: 45px;
  padding: 0 10px;
  margin: 10px;
  border-color: #979797;
}

.amount,
.result {
  margin: 45px 0;
  border: none;
  font-size: 55px;
  font-weight: 300;
  text-align: right;
  width: 450px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  color: #979797;
  font-family: "Roboto", sans-serif;
}

input[type="number"] {
  color: #979797;
  font-family: "Roboto", sans-serif;
  outline: none;
  -moz-appearance: textfield;
}

.line {
  display: block;
  width: 80%;
  height: 3px;
  background-color: #ececec;
  align-self: flex-end;
}
